[submodule "Contents/Libraries/Shared/pyjsparser"]
	path = Contents/Libraries/Shared/pyjsparser
	url = https://github.com/PiotrDabkowski/pyjsparser.git
[submodule "Contents/Libraries/Shared/six"]
	path = Contents/Libraries/Shared/six
	url = https://github.com/benjaminp/six.git
[submodule "Contents/Libraries/Shared/Js2Py"]
	path = Contents/Libraries/Shared/Js2Py
	url = https://github.com/PiotrDabkowski/Js2Py.git
[submodule "Contents/Libraries/Shared/rt_api"]
	path = Contents/Libraries/Shared/rt_api
	url = https://github.com/NickMolloy/rt_api.git
[submodule "Contents/Libraries/Shared/requests"]
	path = Contents/Libraries/Shared/requests
	url = https://github.com/requests/requests.git
[submodule "Contents/Libraries/Shared/m3u8"]
	path = Contents/Libraries/Shared/m3u8
	url = https://github.com/globocom/m3u8.git
[submodule "Contents/Libraries/Shared/requests_oauthlib"]
	path = Contents/Libraries/Shared/requests_oauthlib
	url = https://github.com/requests/requests-oauthlib.git
[submodule "Contents/Libraries/Shared/httmock"]
	path = Contents/Libraries/Shared/httmock
	url = https://github.com/patrys/httmock.git
[submodule "Contents/Libraries/Shared/pytest"]
	path = Contents/Libraries/Shared/pytest
	url = https://github.com/pytest-dev/pytest.git
[submodule "Contents/Libraries/Shared/flaky"]
	path = Contents/Libraries/Shared/flaky
	url = https://github.com/box/flaky.git
[submodule "Contents/Libraries/Shared/vcrpy"]
	path = Contents/Libraries/Shared/vcrpy
	url = https://github.com/kevin1024/vcrpy.git
